*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;

}
.card{
    width:90%;
    max-width: 470px;
    color:#fff;
    background:  linear-gradient(155deg,#23ffc4, #5b548a);
    margin:100px auto 0 ;
    border-radius:20px;
    padding:40px 35px;
    text-align:center;
    

}

.search{
    /*margin-left:1px;*/
   
    width: 100%;
    height:10;
    display:flex;
    align-items: center;
    justify-content: space-between;
    size:20px;
   
}
.search input[type=text]{
    padding: 6px 28px;
    border:0;
    /*border-radius:30px;*/
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
    outline:0;
    background:#ebfffc;
    color:#555;
    height:60px;
    flex:1;
    margin-right:16px;
    font-size:18px;


}

.search button {
    border:0;
    outline:0;
    background:#f4f2ffa0;
    height:60px;
    width:60px;
    cursor:pointer;
    margin-left:-16px;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
}
.search button img{
    width:30%;
    padding-top:5px;
}
.weather img{
    margin-top:40px;
    width:30%;
    
}
.weather-icon{
    width :170px;
    margin-top:30px;
}
.weather h1{
    font-size: 80px;
    font-weight:500;
    margin-top:30px;

}
.weather h2{
    font-size:45px;
    font-weight:390;
    margin-top:10px;
}
.details{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:60px;

}
.col{
    display:flex;
    align-items:center;
    text-align:left;
    
}
.col img{
    margin-top:5px;
    width:50px;
    margin-right:10px;
}
.humidity, .wind{
    font-size:28px;
    
    margin-top:8px;
}
.weather{
    display:none;
}

.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    color:#ffffff;
    display:none;
}